@model Application.Categories.Queries.CategoriesList.CategoriesListViewModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories list</h1>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit image", "Images", new { id = item.Id }) /<br />
                    @Html.NorthwindImageLink(item.Id, "Show image using htmlHelper") /<br />
                    <a northwind-id=item.Id>Show image using tagHelper</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Footer{
    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    &copy; 2020 - WebUI.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> <br />
                </div>
                <div cals="col-lg-4">Unfortunately, <b>category is not editable</b></div>
            </div>
        </div>
    </footer>
}