@using WebUI.MVC.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout-styles.css"/>
</head>
<body>
    @if (IsSectionDefined("Header")) {
        @await RenderSectionAsync("Header")
    } else {
        <partial name="_HeaderDefault" />
    }

    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["UserMessage"] != null) {
                var message = TempData.Get<MessageViewModel>("UserMessage");
                <div class="alert @message.CssClassName">
                    <strong>@message.Title</strong>
                    @message.Message
                </div>
            }

            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Footer")) {
        @await RenderSectionAsync("Footer")
    } else {
        <partial name="_FooterDefault" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
